@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 12px;
  }
  .navbar-item {
    border: none;
    justify-content: left;
  }

  .navbar-item:first-child {
    border: none;
  }
  .objective,
  .personal-info {
    width: 100%;
  }

  /* Thiết kế phần thông tin nghề nghiệp cho màn hình mobile */
  .grid {
    display: block;
  }

  /* Thiết kế phần chứng chỉ, giải thưởng cho màn hình moblie */
  .certification-list {
    display: block;
  }

  .certification-item:first-child {
    border-right: none;
  }

  /* Thiết kế phần dự án cho màn hình mobile */
  .project-list {
    display: block;
  }

  .project-time {
    display: block;
  }

  .year {
    margin-top: 10px;
  }
}
