body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. BANNER */
.banner {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.banner-text h1 {
  font-size: 36px;
  margin: 0;
}

.banner-text p {
  padding-top: 30px;
  font-size: 20px;
  margin: 0;
}

/* 2. NAVBAR */

.navbar {
  display: flex;
  width: 70%;
  align-items: stretch;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 0;
}

.navbar-center {
  flex: 3;
  text-align: center;
  box-sizing: border-box;
  border-right: #eeeeee solid 1px;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
  padding: 15px 10px;
}

.navbar-item {
  flex: 1;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  border-right: #eeeeee solid 1px;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
  justify-content: center;
  align-items: center;
}

.navbar-item:first-child {
  border-left: #eeeeee solid 1px;
}

.navbar-icon {
  color: #199cdb;
  align-self: center;
}

.navbar-item p {
  padding-top: 20px;
}

/* 3. THONG TIN CA NHAN */
.personal {
  display: flex;
}

.objective {
  width: 50%;
  padding: 80px 45px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.personal-info {
  width: 50%;
  padding: 80px 45px;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.objective h2,
.personal-info h2 {
  font-size: 28px;
  font-weight: normal;
}

.objective p,
.personal-info p {
  font-size: 14px;
  line-height: 1.6;
}

.hide {
  display: none;
}

.personal-info p {
  margin: 8px 0;
}

.personal-info-icon {
  padding-top: 20px;
  color: #199cdb;
}

/* 4. BANG THONG TIN */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 70%;
  box-sizing: border-box;
}

.grid-item {
  box-sizing: border-box;
  border: 1px solid gainsboro;
  text-align: left;
  padding: 20px;
}

.grid-item-title {
  display: flex;
  align-items: center;
  padding: 10px;
}

.grid-item-title h3 {
  flex: 0 0 75%;
  margin: 0;
}

.grid-item-title i {
  color: #ccc;
  flex: 0 0 25%;
  font-size: 40px;
}

.view-btn {
  display: none;
}

.grid-item-detail {
  margin-left: 15px;
  padding-top: 20px;
  display: none;
}

.grid-item-detail.show {
  display: block;
}

.grid-item:hover .view-btn {
  display: block;
}

.hobby-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-self: center;
}

.hobby-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hobby-icon {
  color: #007acc;
  width: 60px;
  height: 60px;

  border: 2px solid #007acc;
  border-radius: 50%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hobby-icon i {
  font-size: 30px;
}

.hobby-item p {
  margin: 10px 0 0;
}

.level {
  margin: 5px 0 15px;
}

.level span {
  display: inline-block;
  width: 55px;
  height: 6px;
  margin-right: 2px;
  background: #ccc;
  border-radius: 30%;
}

.level span.active {
  background: #199cdb;
}

/* 5. CHUNG CHI - GIAI THUONG */
.certification {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.certification-content {
  width: 70%;
  justify-self: center;
}

.certification-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certification-item {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 20px;
  padding-bottom: 5px;
}

.certification-item:first-child {
  border-bottom: 3px solid #d6c08d;
  border-right: 3px solid #d6c08d;
}
.certification-item:nth-child(2) {
  border-bottom: 3px solid #d6c08d;
}

.certification-item img {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-top: 20px;
}

.certification-detail {
  padding-left: 30px;
  padding-right: 20px;
}

/* 6. DU AN */
.project {
  width: 70%;
  box-sizing: border-box;
  justify-self: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.project-list {
  display: flex;
  gap: 20px;
}

.project-item img {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.project-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
}

.project-name,
.project-time {
  border: 1px solid #ccc;
}

.year {
  margin-top: 10px;
}

.company,
.role {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
  height: 60px;
}

.project-name {
  padding: 20px;
}

.project-time {
  padding-left: 20px;
}

td {
  padding: 10px;
  text-align: left;
}

.year {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}

/* 7. LIEN HE */
.contact {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.contact-item {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-icon i {
  color: #007acc;
  width: 5%;
  height: auto;
  font-size: 187.5%;
  box-sizing: border-box;
  padding-right: 7px;
}

.contact-name {
  padding-top: 7px;
}
