@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 16px;
  }

  /* Thiết kế phần thông tin nghề nghiệp cho màn hình tablet */
  .grid {
    display: block;
    column-count: 2;
    column-gap: 12px;
  }
  .grid-item {
    break-inside: avoid;
    margin-bottom: 12px;
  }

  /* Thiết kế phần chứng chỉ, giải thưởng cho màn hình tablet */
  .certification-item {
    display: block;
  }

  /* Thiết kế phần dự án cho màn hình tablet */
  .project-time {
    display: block;
  }

  .year {
    margin-top: 10px;
  }
}
